body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
  position: sticky;
  top: 0;
  background-color: #5fb45f;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.homeButton a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;

}

.navOptions a {
  color: white;
  margin-left: 1em;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s; 
}

.navOptions a:hover{
  background-color: #9641b4;
}

.navOptions a:active{
  background-color: white;
  color: black;
}

/* For Home */
.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  flex-direction: row;
}

.aboutMe #hi{
  display: flex;
  flex-direction: column;
}

.aboutMe > .about h2{
  margin-bottom: 0;
  text-align: left;
  font-size: 10vh;
}

.aboutMe img {
  width: 20em; /* Set the width */
  height: 30em; /* Maintain aspect ratio */
}

.aboutMe > .about {
  margin-right: 5em; /* Adjust the right margin as desired */
}

/* For Intro */

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  flex-direction: row;
}

.intro_box, .experience_box{
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-right: 5em;
}

.intro_box > h2, .experience_box > h2{
  font-size: 10vh;
}

.intro_para {
  display: flex;
  flex-direction: row;
}

.intro_para  img {
  width: 20em; /* Set the width */
  height: 20em; /* Maintain aspect ratio */
}

.intro_para p{
  margin-top: 10vh;
  font-size: 2.5vh;
}

.experience{
  display: flex;
  align-items: start;
  justify-content: left;
}

.experience_cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .navOptions a {
    font-size: 1.2em; /* Adjust the font size for smaller screens */
    margin-left: 0.5em; /* Adjust the margin as needed */
  }

  .aboutMe > .about {
    margin-left: 4em; /* Adjust the value for smaller screens */
  }

  .aboutMe img {
    width: 70%; /* Set the width */
    height: 100%; /* Maintain aspect ratio */
  }

  .intro_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro_para p {
    margin-top: 5%; 
    font-size: 2vh; 
  }

  .intro_para img {
    width: 40%; 
    height: auto; /* Maintain aspect ratio */
  }

  .intro_para {
    display: flex;
    flex-direction: column; /* Change to column on smaller screens */
    justify-content: center;
    align-items: center;
  }

  .intro_box > h2 {
    font-size: 8vw; 
  }
  
}
