.card{
    border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.card:hover{
        box-shadow: 0 1em 1em rgba(14, 134, 46, 0.641);
}

.header{
    display: grid;
}

.title {
    grid-column: 1;
}
  
.logo {
    grid-column: 2;
    justify-self: end;
}
  
.more-info-btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #5fb45f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}
      
.more-info-btn:hover {
    background-color: #449b44;       
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
      
.more-info-btn:active {
    background-color: #3c8b3c;
}
      
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Add additional styling for card dimensions, padding, etc. */
  }

.more-info-card{
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 2em;
}

.more-info-card li{
    padding: 0.2em;

}

.close-button{
    display: inline-block;
    padding: 10px 16px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3b6a3b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: 1em;
}

.logo img{
    width: 7em;
    height: 6em;
}

@media (max-width: 768px) {
    .logo img{
        width: 4em;
        height: 4em;
    }

    .card p{
        font-size: 0.8em;
    }
}